/*	startpage.css
	author: bah0
	v1.0
 */

 ::-moz-selection {
   background: #3a3a3a; /* Gecko Browsers */
 }

a {
	color: white;
	text-decoration: none;
}
a:link {

}
a:visited{

}
a:hover{
	color: #0088cc;
	text-decoration: underline;
}
a:active{

}

#help {
	color: black;
  background: #E2CB97;
  border-left: 2px solid #87795A;
  padding-left: 5px;
  margin-bottom: 10px;
}

p {
	background:;
}

body {
	background: #2a2a2a;
	background-image: url("./img/pw_maze_black.png");

		font-family: "GohuFont", monospace;
		font-size: 11px;
		font-weight: normal;
}
div {
	overflow: auto;
}

#helper{
	display:table;
	height:100%;
	position:absolute;
	overflow: hidden;
	width:100%;
}

#main {
	display:table-cell;
	vertical-align:middle;
	#position: absolute;
	#top: 50%;
}

#yt{
	background:#2a2a2a77;
  padding: 5px;

}

#yt iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content{
	min-height: 215px;
	margin: 0 auto;
	width: 1000px;
	min-width: 400px;
	max-width:1000px;
  max-height: 700px;
	border: 1px solid #0f0f0f;
	overflow: auto;
}

#custom{
	background:#2a2a2a77;
  width: 100%;
}

.margin-fix {
	margin-left: 5px !important;
}

.hidden{ display: none !important;}

.menu {
	width: calc(25% - 35px);
	min-height:50px;
	background: #2f2f2f44;
	list-style: none;
	padding: 15px;
	float: left;
	margin: 0;
	text-align: center;
	font-family: "GohuFont", monospace;
	font-size: 11px;
	font-weight: normal;
	color: #7a7a7a;

}
 .menu  li::before {
	 content: "> ";
	 /*color: black;*/
   color: #7a7a7a;
 }

 .menu li {
	 background:;
 	text-align: left;
	padding: 5px;
	padding-top: 10px;
 }

#row0{
	padding: 0px;
	border-bottom: 1px solid #0f0f0f;
}

form {
	width: inherit;
	height: inherit;
}

#div_inp {
	float: left;
	width: calc(100% - 200px);
	background: #2a2a2a;
}

#div_time{
	width: 195px;
	height: 20.5px;
	background-color: #0f0f0f;
	float: left;
	color: white;
	text-align: right;
	line-height: 20.5px;
	font-family: "GohuFont", monospace;
	font-size: 11px;
	font-weight: normal;
	padding-right: 5px;
}
#div_inp:before {
}

#search {
	background: #2a2a2a;
	padding:0px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 0px;
	margin-left: 5px;
	height: 20px;
	border: 0;
	color: white;
	width: calc(100% - 20px);
	font-family: "GohuFont", monospace;
	font-size: 11px;
	font-weight: normal;
}

input::before{
	content: "type";
}

#row1{
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background:;
}

.center {
	text-align: center;
}

.dashed {
	padding-left: 5px;
	border-left: 1px dashed white;
}

#row_greet {
	width: calc(100% - 40px);
	min-height: 20px;
	line-height: 20px;
	color: white;
	font-family: "GohuFont", monospace;
	font-size: 11px;
	font-weight: normal;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;

}


#row2{
	color: white;
	font-family: "GohuFont", monospace;
	font-size: 11px;
  line-height: 15px;
	background: #0f0f0f;
	font-weight: normal;
	padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  clear:left;
}

#col0 {

}

#col1 {
}

#col2 {

}

#col3 {
}

#swlinks {
  background:#2a2a2a;
  width: 15px;
  height: 15px;
  float: left;
  text-align: center;
  margin-left: 5px;
  color: white;
  font-family: "GohuFont", monospace;
  font-size: 11px;
  line-height: 15px;
}
#swlinks:hover, #swvids:hover{
  cursor:pointer;
}

#swvids {
  color: white;
  font-family: "GohuFont", monospace;
  font-size: 11px;
  line-height: 15px;
  background:#cc181e;
  width: 15px;
  height: 15px;
  text-align: center;
  float: left;
  margin-left: 5px;
}

#links {
  float: left;
  width: calc(100%);
}

#user {
  font-family: "GohuFont", monospace;
  font-size: 11px;
  float:left;
  overflow:auto;
  height:100%;
  width:calc(100% - 40px);
  line-height:15px;

}
